// /* -----------------------------------*/
// /*  Functions
// /* -----------------------------------*/
@function sanitize_columns($columns, $column_map: $desk_map) {
    
    @if($allow-split-grids == true and $columns < 1) {

        $calculated_columns: ( length($column_map) + 1 ) * $columns;
        // If we have a split value here, we have trouble

        @if(round($calculated_columns) != $calculated_columns) {
            @return false;
        }
        @else {
            @return $calculated_columns;
        }
    }

    @return $columns;

}

// 
// Drop relative positioning into silent classes which can’t take advantage of
// the `[class*="push--"]` and `[class*="pull--"]` selectors.
// 
@mixin silent-relative() {
    @if $use_sass_placeholders == true {
        position:relative;
    }
}

// /* -----------------------------------*/
// /*  Translate Number to Name
// /* -----------------------------------*/
@function get_name($column_map, $columns) {
    $columns: sanitize_columns($columns, $column_map);

    // We don't have "one-whole" in Source Maps
    // Thereby a map for 12 columns contains only 11 items
    // We're accounting for the 12th item here: 
    $max_columns: length($column_map) + 1;
    @if ( $max_columns <= $columns) {
        @return "one-whole";
    }
    
    $column_information: nth($column_map, $columns);
    $column_name: nth($column_information, 2);
    @return $column_name;
}


// /* -----------------------------------*/
// /*  Translate Number to Width
// /* -----------------------------------*/

// NOT FOR PUBLIC USE.
// It won't return all withs, it may return a string with the class name instead
// It's okay for the Grid and Column generating functions for now
// But definitely needs a little revamp.
@function get_width($column_map, $columns) {
    $columns: sanitize_columns($columns, $column_map);


    // Same as with get_col_name
    // Only this time we're returning 100% in that special case
    @if (length($column_map) < $columns) {
        @return 100;
    }
    
    $column_information: nth($column_map, $columns);
    $width: nth($column_information, 1);
    @return $width;
}


@mixin col($columns: 12, $class: "", $column_map: $desk_map) {
    $sanitized_columns: sanitize_columns($columns, $column_map);

    @if $class != "" {
        $class: unquote("#{$class}-"); // Add the dash
    } 

    // If we have a split value here, we have trouble
    @if($sanitized_columns != false) {
        $column_class: get_name($column_map, $sanitized_columns);
        @extend #{$prefix-type}#{$class}#{$column_class};
    }
    @else {

        @if($columns < 1){
            $columns: $columns * 100 + 0%;
        } 
        width: $columns;
    }

    @extend #{$prefix_type}#{$class}column;
}




@mixin push($columns: 12, $class: "", $column_map: $desk_map) {
    @if $class != "" {
        $class: unquote("#{$class}-"); // Add the dash
    } 

    $column_class: get_name($column_map, $columns);

    @extend #{$prefix_type}#{$class}push-#{$column_class};
}




/* ---------------------------------------*/
/*  Functions to generate mapped classes
/* ---------------------------------------*/
// Generate Widths
@mixin widths_from_map($map, $namespace, $prefix) {
    $columns: 0;
    @each $minimap in $map {
        $columns: $columns + 1;

        $class_name: get_name($map, $columns);
        $class_value: get_width($map, $columns);
    
        @if type-of($class_value) == "string" {
            #{$prefix}#{$namespace}#{$class_name} { @extend #{$prefix}#{$namespace}#{$class_value}; }
        }
        @else {
            #{$prefix}#{$namespace}#{$class_name} { width: unquote("#{$class_value}%"); }   
        }
    }
}

// Generate Position
@mixin rules_from_map($type, $property, $map, $namespace, $prefix) {
    $columns: 0;
    @each $minimap in $map {
        $columns: $columns + 1;

        $class_name: get_name($map, $columns);
        $class_value: get_width($map, $columns);
    
        @if type-of($class_value) == "string" {
            #{$prefix}#{$namespace}#{$type}#{$class_name} { @extend #{$prefix}#{$namespace}#{$type}#{$class_value}; }
        }
        @else {
            #{$prefix}#{$namespace}#{$type}#{$class_name} { #{$property}: unquote("#{$class_value}%"); @include silent-relative(); }   
        }
    }
}









