// /* -----------------------------------*/
// /*         pull
// /* -----------------------------------*/
// /**
//  * pull classes, to move grid items over to the right by certain amounts.
//  */

// /* -----------------------------------*/
// /*  Pull Setup Mixin
// /* -----------------------------------*/
    
@mixin bw_pull_setup($namespace: "", $prefix: $prefix_type) {
    @include rules_from_map(pull-, right, $column_map, $namespace, $prefix);
    @include rules_from_map(pull-, right, $column_map_3, $namespace, $prefix);
    @include rules_from_map(pull-, right, $column_map_4, $namespace, $prefix);
    @include rules_from_map(pull-, right, $column_map_5, $namespace, $prefix);
    @include rules_from_map(pull-, right, $column_map_6, $namespace, $prefix);
    @include rules_from_map(pull-, right, $column_map_8, $namespace, $prefix);
    @include rules_from_map(pull-, right, $column_map_10, $namespace, $prefix);
    @include rules_from_map(pull-, right, $column_map_12, $namespace, $prefix);
}

// /* -----------------------------------*/
// /*  pull Mixin
// /* -----------------------------------*/
    
@mixin pull($columns: 12, $class: "", $column_map: $desk_map) {
    @if $class != "" {
        $class: unquote("#{$class}-"); // Add the dash
    } 

    $column_class: get_name($column_map, $columns);

    @extend #{$prefix_type}pull-#{$class}#{$column_class};
}

// /* -----------------------------------*/
// /*  Responsive pull
// /* -----------------------------------*/
    

@mixin palm-pull($columns: 1) {
    @if $columns > $max_palm_columns {
        @warn "You tried to pull #{$columns} columns, but you can't have more than #{$max_palm_columns} with the current map that you've set!";
    }
    @include pull($columns, palm, $palm_map);
}

@mixin lap-pull($columns: 1) {
    @if $columns > $max_lap_columns {
        @warn "You tried to pull #{$columns} columns, but you can't have more than #{$max_lap_columns} with the current map that you've set!";
    }
    @include pull($columns, lap, $lap_map);
}


@mixin portable-pull($columns: 1) {
    @if $columns > $max_portable_columns {
        @warn "You tried to pull #{$columns} columns, but you can't have more than #{$max_portable_columns} with the current map that you've set!";
    }
    @include pull($columns, portable, $portable_map);
}


@mixin desk-pull($columns: 1) {
    @if $columns > $max_desk_columns {
        @warn "You tried to pull #{$columns} columns, but you can't have more than #{$max_desk_columns} with the current map that you've set!";
    }
    @include pull($columns, desk, $desk_map);
}





