// 
// These mixins are for the library to use only, you should not need to modify
// them at all.
// *
// Enclose a block of code with a media query as named in `$breakpoints`.
@mixin media($media-query){
    $breakpoint-found: false;

    @each $breakpoint in $breakpoints{
        // This is a loop, no need to do all that other stuff if the breakpoint was already found
        @if $breakpoint_found != true {       
            
            $name: nth($breakpoint, 1);
            $declaration: nth($breakpoint, 2);

            @if $media-query == $name and $declaration{
                $breakpoint-found: true;

                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    } // end @each;

    @if $breakpoint-found == false{
        @warn "Breakpoint '#{$media-query}' does not exist"
    }
}


