@import config
@import blankwork_extends
@import grid
@import helpers
@import push
@import pull
@import responsive


*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

// Setup: Basic Grid
+bw_grid_setup()

@if $responsive == true

	// // Setup: palm
	+media(palm)
		+bw_grid_setup("palm-")

	// // Setup: lap	
	+media(lap)
		+bw_grid_setup("lap-")

	// // Setup: portable	
	+media(portable)
		+bw_grid_setup("portable-")

	// Setup: desk	
	+media(desk)
		+bw_grid_setup("desk-")






+bw_pull_setup()
@if $responsive_pull == true
	+media(palm)
		+bw_pull_setup("palm-")

	// Setup: lap	
	+media(lap)
		+bw_pull_setup("lap-")

	// Setup: portable	
	+media(portable)
		+bw_pull_setup("portable-")

	// Setup: desk	
	+media(desk)
		+bw_pull_setup("desk-")

+bw_push_setup()
@if $responsive_push == true
	+media(palm)
		+bw_push_setup("palm-")

	// Setup: lap	
	+media(lap)
		+bw_push_setup("lap-")

	// Setup: portable	
	+media(portable)
		+bw_push_setup("portable-")

	// Setup: desk	
	+media(desk)
		+bw_push_setup("desk-")